navbar
.about-us.container
  .about-us__title iliat LÀ SỰ LỰA CHỌN THÔNG MINH CỦA BẠN
  .about-us__content.row
    .about-us__content__item.col-xs-4
      .about-us__content__item__img
        img(src="http://placehold.it/400x400" alt="")
      .about-us__content__item__title Những khóa học được cá nhân hóa
      .about-us__content__item__description Khi bạn mong muốn làm một điều gì đó, cả thế giới sẽ giúp bạn”, đó là thứ mà chúng tôi muốn mỗi học viên cảm nhận được. Ngoài việc giúp các học viên hoàn thành xuất sắc các chứng chỉ quốc tế như GMAT, GRE, CFA, ACCA, IELTS, TOEFL, chúng tôi còn định hướng, kết nối họ với nhau và giúp họ hoàn thành những mục tiêu xa hơn.
    .about-us__content__item.col-xs-4
      .about-us__content__item__img
        img(src="http://placehold.it/400x400" alt="")
      .about-us__content__item__title Những khóa học được cá nhân hóa
      .about-us__content__item__description Khi bạn mong muốn làm một điều gì đó, cả thế giới sẽ giúp bạn”, đó là thứ mà chúng tôi muốn mỗi học viên cảm nhận được. Ngoài việc giúp các học viên hoàn thành xuất sắc các chứng chỉ quốc tế như GMAT, GRE, CFA, ACCA, IELTS, TOEFL, chúng tôi còn định hướng, kết nối họ với nhau và giúp họ hoàn thành những mục tiêu xa hơn.
    .about-us__content__item.col-xs-4
      .about-us__content__item__img
        img(src="http://placehold.it/400x400" alt="")
      .about-us__content__item__title Những khóa học được cá nhân hóa
      .about-us__content__item__description Khi bạn mong muốn làm một điều gì đó, cả thế giới sẽ giúp bạn”, đó là thứ mà chúng tôi muốn mỗi học viên cảm nhận được. Ngoài việc giúp các học viên hoàn thành xuất sắc các chứng chỉ quốc tế như GMAT, GRE, CFA, ACCA, IELTS, TOEFL, chúng tôi còn định hướng, kết nối họ với nhau và giúp họ hoàn thành những mục tiêu xa hơn.
footer
