navbar
section.main-spotlight(style="background-image: url(/assets/images/spotlight.png);")
section.main
  .row
    .main__sidebar.col-xs-3
      ul.nav.nav-stacked.nav-pills
        li.active(role="presentation")
          a(href='#') Dashboard
        li(role="presentation")
          a(href='/about-us') Charts
        li(role="presentation")
          a(href='#') Settings
    .main__content.col-xs-9

footer
