navbar
section.main-spotlight(style="background-image: url(/assets/images/spotlight.png);")
section.main
  .row
    .main__sidebar.col.s3
      ul.collection
        li.collection-item
          div
            | Dashboard
            a.secondary-content(href='#!')
              i.material-icons send
        li.collection-item
          div
            | Charts
            a.secondary-content(href='#!')
              i.material-icons send
        li.collection-item
          div
            | Settings
            a.secondary-content(href='#!')
              i.material-icons send
        li.collection-item
          div
            | Exit
            a.secondary-content(href='#!')
              i.material-icons send
    .main__content.col.s9

app-footer
