
section.main
  .row
    .main__sidebar.col-xs-3
      ul.nav.nav-stacked.nav-pills
        li.active(role="presentation")
          a(href='#') Posts
        li(role="presentation")
          a(href='/about-us')
        li(role="presentation")
          a(href='#') {{categories[0].name}}
    .main__content.col-xs-9
      .main__content__category.row
        .dropdown
          button.btn.btn-success.dropdown-toggle(data-toggle="dropdown") Category
          ul.dropdown-menu
            li(ng-repeat="category in categories" )
              a(href="#" ng-click='onCategorySelect("{{category.urlName}}")') {{category.name}}

footer
