section.login--container
  .login
    .login__nav
      .login__nav__item.col-xs-6 Sign Up
      .login__nav__item.login__nav__item--gray.col-xs-6 Log In
    .login__title Sign Up for Free
    .login__field
      .login__field--container.row
        .login__field__item.form-group.col-xs-6
          input.form-control(placeholder="First Name")
        .login__field__item.form-group.col-xs-6
          input.form-control(placeholder="Last Name")
      .login__field__item.form-group
        input.form-control(placeholder="Email")
      .login__field__item.form-group
        input.form-control(placeholder="Password")
    .login__nav__item Get Started



